*{
  box-sizing: border-box;
}

body {
  height: 545px;
  width: 600px;
  // border: 1px solid black;
  margin: 30px auto;

}

div {
  border: 1px solid #21C6D5;
}

.heading {
  background: #21C6D5;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
  font-size: 20px;
}

.content {
  padding-left: 10px;
  margin: 0px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 1s ease;
}
